@forward 'uswds-theme';
@import 'uswds';

.usa-hero {
  color: color($theme-color-base-ink);
}

.usa-hero__heading--alt {
  color: color($theme-color-base-ink);
}

.usa-hero__callout {
  background-color: white;
  @include at-media('tablet') {
    max-width: 25rem;
  }
}

.usa-prose {
  & > {
    p + * {
      margin-top: 1em;
    }
  }
}
